body{
   background-color: black;
   color:white;
   margin:0;
   padding: 0;
}

.td{
    width: 4vmin;
    text-align: center;
    
}
#tableMain{
   
    margin: 0 auto;
    margin-top: 05vmax;
    color:yellow;
    
}
.tdSpan{
    color: rgb(0, 255, 13);
}
#buttonMain{
    text-align: center;
}
#bt{
    width: 70px;
}
#chooseP{
    text-align: center;
}
.chooseColor{
    color:yellow;
}

























































































